# DataFrames aus beliebig vielen CSV-Files erstellen
*Erstellt von:* Thomas Schlögl\
*Datum:* 2024/08/19

Es werden Autodaten aus beliebig vielen CSV-Files aus dem Verzeichnis *data* eingelesen.\
Alle Files beginnen mit *cars* und enden mit *.csv*.

## Schritt-für-Schritt-Anleitung

1. Verwende `glob`, um alle passenden Dateien zu finden.
   - `glob` ist eine Python-Bibliothek, die verwendet wird, um Dateipfade basierend auf einem bestimmten Muster zu finden. Sie durchsucht das Dateisystem nach Dateien und Verzeichnissen, die dem angegebenen Muster entsprechen, und gibt eine Liste der gefundenen Pfade zurück.
   - `os` ist eine weitere Standardbibliothek die Betriebssystemfunktionalität zur Verfügung stellt.
3. Lese jede Datei in einen DataFrame ein.
4. Kombiniere alle DataFrames in einen einzigen DataFrame.

In [5]:
# Importieren
import pandas as pd
import glob
import os

In [6]:
# Pfad zum Verzeichnis mit den CSV-Dateien
folder_path = 'data'

# Muster für die CSV-Dateien (cars*.csv)
file_pattern = os.path.join(folder_path, "cars*.csv")

file_pattern

'data/cars*.csv'

In [7]:
# Erstelle eine Liste aller CSV-Dateien, die dem Muster entsprechen
csv_files = glob.glob(file_pattern)
csv_files

['data/cars1.csv', 'data/cars2.csv', 'data/cars3.csv']

In [8]:
# Liste, um die einzelnen DataFrames zu speichern
dataframes = []

# Laufe durch alle CSV-Files und lade sie in eine Liste von DataFrames
for file_path in csv_files:
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Alle DataFrames in der Liste zu einem einzigen DataFrame zusammenführen
df_combined = pd.concat(dataframes, ignore_index=True)

df_combined

                      Type  Baujahr  Kilometerstand
0          Volkswagen Golf     2015           75000
1                  BMW 3er     2017           45000
2                  Audi A4     2018           60000
3   Mercedes-Benz C-Klasse     2016           70000
4             Renault Clio     2019           30000
5              Peugeot 308     2018           50000
6                Volvo V60     2017           65000
7                 Fiat 500     2020           15000
8            Skoda Octavia     2016           80000
9               Opel Astra     2014           85000
10               SEAT Leon     2017           55000
11       Alfa Romeo Giulia     2019           40000